@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base del editor Tiptap */
.tiptap {
  outline: none;
  min-height: 80px;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}
